.root {
  margin: 30px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.searchBar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
.searchBar input {
  width: 600px;
  height: 30px;
  align-self: center;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.5px;
}
.searchBar button {
  width: fit-content;
  align-self: center;
  justify-self: center;
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-align: center;
  box-shadow: 3px 3px 5px 0px grey;
  border-style: solid;
  border-radius: 5px;
}

.searchBar button:hover {
  color: #fff;
  background-color: rgb(196, 184, 160);
  box-shadow: none;
}
.searchBar a {
  align-self: center;
}

.searchBar label {
  align-self: center;
}

.items {
  display: inline-block;
  padding: 10px;
}
#mealImg {
  height: 200px;
}

h2 {
  text-align: center;
}

#ingredientPage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 20px;
}

#ingredients {
  border-style: solid;
  border-color: rgb(88, 81, 73);
  min-width: 250px;
  padding: 10px;
  background-color: rgb(232, 224, 211);
  box-shadow: 2px 2px 5px 0px grey;
}

#ingredients td,
#ingredients th {
  padding-right: 10px;
  border-collapse: collapse;
}

#instructions {
  margin: 0;
  border-style: solid;
  border-color: rgb(88, 81, 73);
  padding: 10px;
  max-width: 800px;
  height: auto;
  background-color: rgb(232, 224, 211);
  line-height: 1.5em;
  box-shadow: 2px 2px 5px 0px grey;
}

#emptySearch p {
  text-align: center;
}
