.root {
  margin: 30px;
}

/* Styles for seacrh page  */

.searchBar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
.searchBar input {
  width: 600px;
  height: 30px;
  align-self: center;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.5px;
}
.searchBar button {
  width: fit-content;
  align-self: center;
}

.searchBar label {
  align-self: center;
}

.items {
  display: inline-block;
  padding: 10px;
}
#mealImg {
  height: 200px;
}

.backBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #fff;
  color: black;
  text-align: center;
  box-shadow: 2px 3px 5px;
}

/*Styles for ingredient page*/

h1 {
  text-align: center;
}

#ingredientPage {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}

#ingredients {
  border-style: solid;
  border-color: black;
  min-width: 250px;
}

#ingredients td,
#ingredients th {
  padding-right: 10px;
  border-collapse: collapse;
}

#instructions {
  margin: 0;
  border-style: solid;
  padding: 10px;
  max-width: 800px;
  height: auto;
}
